<% provide(:title, 'Rent farmlands') %>
<% provide(:button_text, '借りたい農地の情報を変更する') %>
<div class="container py-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>借りたい農地情報の編集</h1>
      <%= render 'rent_farmland_form' %>
    </div>
  </div>
</div>
