  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="top">
            Why don't you build the foot of Mt. 8gatake where everyone has a place to stay?
          </div>
          <%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-dark", id: 'top-signup' %>
        </div>
      </div>
    </div>
  </div>
