<div class="center jumbotron">
  <h2>Why don't you build the foot of Mt. 8gatake where everyone has a place to stay?</h2>

  <%= link_to 'Sign up now!', '#', class: "btn btn-lg btn-primary" %>
</div>
