<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <div class="top">Why don't you build the foot of Mt. 8gatake where everyone has a place to stay?</div>

      <%=link_to 'Sign up now!', '#', class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
