<% provide(:title, "Forgot password") %>
<h1>パスワードの再設定</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "パスワードの再設定をする", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
