<h1>8gatake Farm</h1>

<p><%= @user.name %>さま</p>

<p>
  8gatake Farm にようこそ！！<br>
  ご登録ありがとうございます！<br>
  以下のリンクをクリックしますと、アカウント作成が完了します。<br>

</p>

<%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token, email: @user.email) %>
