<% provide(:title, 'Lend farmlands') %>
<% provide(:button_text, 'この内容で登録する') %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1>貸したい農地の情報登録</h1>
    </div>
  </div>
</div>
