<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>
<div class="py-4">
  <div class="container">
    <ul class="users-index">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>
