<% provide(:title, 'Sign up') %>
<% provide(:url, signup_path) %>
<% provide(:button_text, 'この内容でアカウントを作成する') %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1>アカウント作成</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
