<% provide(:title, 'Chat members') %>
<h1>Chat members</h1>
<div class="container">
  <div class="matching-index-page">
    <%#= render "partial/navbar" %>
    <div class="matching">
      <h4 class="matching-num">チャットできるメンバー <%= @match_users.size %>人</h4>
      <div class="matching__list">
        <% unless @match_users.empty? %>
          <% @match_users.each do |user| %>
            <div class="matching__person">
              <%= render partial: 'users/user', locals: { user: user } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
