/* mixins, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.container-fluid {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #E5DCCF;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #6F675D;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

header {
  margin-bottom: 15px;
}

header a {
  color: #6F675D;
}

header a:hover {
  color: #222;
}

/* footer */

footer {
  margin-top: 15px;
  border-top: 1px solid #6F675D;
  color: #6F675D;

  a {
    color: #6F675D;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    font-size: 0.8em;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* nav */

.navbar-nav .nav-link {
  padding: 0 2rem;
  font-size: 1.3em;
}

// .navbar .navbar-nav .nav-link {
//   color: #555
// }

// .navbar .navbar-nav .nav-link:focus,
// .navbar-light .navbar-nav .nav-link:hover {
//   color: #222
// }

// .jumbotron-extend {
//   position: relative;
//   height: 100vh;
//   min-height: 300px;
// }

// .no-gutters {
//   margin: 0;
//   padding: 0;
// }

// .no-gutters>.col,
// .no-gutters>[class*="col-"] {
//   margin: 0;
//   padding: 0;
// }

/* top.html.erb */

.top {
  font-size: 1.3em;
  padding-top: 35rem;
  color: #6F675D;
}

.btn {
  margin-top: 20px;

}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  border-radius: 0.3em;
  width: 100%;
  min-height: 2.4em;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.signup-mes {
  text-align: center;
  font-size: small;
  margin-bottom: 15px;
}

#error_explanation {
  color: #C94564;

  ul {
    color: #C94564;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;

//   .form-control {
//     color: $state-danger-text;
//   }
// }
