@import "font-awesome-sprockets";
@import "font-awesome";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

/* mixins, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

// body {
//   height: 100%;
// }

section {
  overflow: auto;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.container-fluid {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-color: #E5DCCF;
  background-color: rgb(160, 195, 210);
  //background-color: #C3D0E3;
}

// .top-image {
//   background-image: url("/image/DSC_0808_2.JPG");
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.dropdown-toggle::after {
  font-size: 18px;
}

.dropdown-toggle {
  font-size: 1.2em;
}

.logo {
  margin-top: 0.5em;
  font-size: 2.1em;
  color: #454540;
  letter-spacing: 1px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.logo4 {
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.logo,
.logo4 {
  display: inline-block;
  _display: inline;
}

header {
  margin-bottom: 15px;
}

header a {
  color: #454540;
}

header a:hover {
  color: #222;
}

.dropdown-menu {
  border: none !important;
  background-color: transparent !important;
}

/* footer */

footer {
  margin-top: 15px;
  border-top: 1px solid #6F675D;
  color: #6F675D;

  a {
    color: #6F675D;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    font-size: small;

    li {
      float: left;
      //margin-left: 15px;
    }
  }
}

/* nav */

.navbar-nav .nav-link {
  padding: 0 2rem;
  font-size: 1.2em;
}

/* top.html.erb(login->mypage!) */

.top {
  font-size: 1.3em;
  padding-top: 56.5vh;
  color: #6F675D;
}

.btn-dark {
  background: #4889A1 !important;
  border-radius: 0.5em !important;
  color: white;
  margin: 10px 0;

  &:hover {
    background: #222 !important;
  }
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  //background-size: contain;
  object-fit: cover;
}

.mypage-avatar {
  margin-left: 0.5em;
}

/*-------- mypage --------*/

.mypage-news {
  text-align: center;
}

.mypage-avatar,
.mypage-name {
  display: inline-block;
  _display: inline;
}

// .mypage-avatar,
// .mypage-self_info {
//   display: inline-block;
//   _display: inline;
// }

.mypage-name {


  a {
    color: #6F675D;

    &:hover {
      color: #6F675D;
    }
  }
}

.mypage-self_info {
  font-size: 0.9em;
}

.mypage-user-info {
  background-color: #ECEEEE;
}

.nav-item .active {
  background-color: #6BAAC1 !important;
  color: black !important;
}

.nav-item {
  background-color: #FFFDFB;
}

.nav-link {
  color: #6F675D;

  &:hover {
    color: #222;
  }
}

.nav-tabs {
  border-bottom: 1.5px solid #58483A !important;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  border-radius: 0.5em;
  width: 100%;
  min-height: 2.4em;
  margin-bottom: 15px;
  @include box_sizing;
  background-color: #ECEEEE;
}

input {
  height: auto !important;
}

.signup-mes {
  list-style: none;
  font-size: small;
  margin-top: 15px;
  margin-bottom: 15px;
}

#error_explanation {
  color: #C94564;

  ul {
    color: #C94564;
    margin: 0 0 30px 0;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.checkbox .auto-login {
  position: relative;
  font-size: 0.9em;
  top: -12px;
}

/* Sessions new */

.login-link,
.forgot-pass {
  a {
    color: #6F675D;

    &:hover {
      color: #222;
    }
  }
}

/* Users index & _user.html.erb */

.users-index,
.matching__person {
  list-style: none;
  margin: 0;

  li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #C8C5C3;
  }
}

/* kaminari */

.pagination {
  margin-top: 2em;
  justify-content: center;
}

/* flash */

.alert {
  text-align: center;
}

/* Withdrawal new */

.withdrawal-message {
  font-size: 1.1rem;
}

/* ------- _post.html.erb --------------------------------------------------------------- */

.card-group {
  margin-bottom: 1em;
}

.card,
.card-body,
.card-deck,
.card-group {
  background-color: #ECEEEE !important;
  border-radius: 0.5em;
}

.card {
  border: none !important;
  // border-bottom: 1px solid lightgray !important;
}

.posts-h4 {
  text-align: center;
  margin-top: 3rem;
}

.post-new {
  margin-bottom: 1rem;
}

.card-deck {
  margin: 1rem;
}

.post-index {
  margin-bottom: -1em;

  a {
    text-decoration: none;
    color: #2E2648;

    &:hover {
      text-decoration: none;
      color: #2E2648;
    }
  }
}

.comment-destroy,
.post-destroy {
  a {
    // background-color: #C3D0E3 !important;
    color: #7887A6;

    border-color: #7887A6;

    &:hover {
      background-color: #C94564 !important;
    }
  }
}

.content {
  font-size: 1.1em;
}

.post-attached {
  color: #6F675D;
}

.post-attached {
  .list-group-item {

    text-align: center;
    background-color: #C3D0E3 !important;
    color: #2E2648;
  }
}

.post-info {
  .list-group-item {
    border: none !important;
    text-align: center;
    background-color: #ECEEEE !important;
    color: #41526F;

  }
}

.post-info {
  margin-top: -2.5em;
  margin-right: -23em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.users-show-info {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.post-card-bottom,
.comment-card-bottom {
  border-bottom: 1px solid #bbb !important;
}

/* ------------------------------------------------------------*/

/* _stats.html.erb */

.stats {
  a {
    text-decoration: none;
    color: gray;

    &:first-child {
      padding-right: 0.5em;
    }

    &:hover {
      text-decoration: none;
      color: #2E2648;
    }
  }
}

/* Posts/index */

.post-new {
  textarea {
    min-height: 10rem;
  }
}

/* show_follow.html.erb */

.follow-title {
  text-align: center;
}

.user-bio {
  margin-top: 2rem;
}

.posts-count {
  margin-left: 0.5em;
}

/* show_follow.html.erb */

.user-info {
  a {
    text-decoration: none;
    color: #58483A;

    &:hover {
      text-decoration: none;
      color: #708167;
    }
  }
}

.follow-username,
.posts-count {
  display: inline-block;
  _display: inline;
}

.users-follow {
  li {
    list-style: none;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #6F675D;
  }
}

/* _users.html.erb */

.default-avatar {
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 50%;
}

/* comments/_form */

.comment-form textarea {
  min-height: 8rem;
}

/* comments/_index */

.user,
.timestamp {
  display: inline-block;
  _display: inline;
}

.timestamp {
  margin-right: -10em;
}

/* likes/_like */

.liking {
  color: #E4295F;
}

.liking,
.likes-size {
  display: inline-block;
  _display: inline;
}

.like-size {
  color: black;
}

.likes-count {
  a {
    text-decoration: none;
    color: #41526F !important;

    &:hover {
      text-decoration: none;
      color: #41526F !important
    }
  }
}

/* chat */

.chat-room-bc {
  margin-top: 1em;
  border-radius: 15px;
  background-color: #C3D0E3;
}

.chat-avatar,
.chat-default-avatar {
  margin-right: -2em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-room-show-page {
  .chat-room {
    &__partner {

      &-name {
        margin-left: 1em;
        letter-spacing: 1px;
        color: #7887A6;
        font-size: 38px;
      }
    }

    &__message-form {

      &_textarea {
        margin-top: 1.3em;
        width: 100%;
        border: none;
        white-space: normal;
        background-color: #FAF4F4;

      }
    }
  }
}

.chat-message {
  &__partner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
  }

  // &__content {
  //   margin: 4px 8px 4px;
  //   padding: 8px 12px;
  //   max-width: 70%;
  //   color: #e8e8e8;
  //   font-size: 16px;
  //   border-radius: 8px;
  //   background: #557DAF;
  // }

  &__current-user {
    display: flex;
    justify-content: flex-end;
  }
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 270px;
  color: #e8e8e8;
  border-radius: 12px;
  background: #557DAF;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #557DAF;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 270px;
  border-radius: 12px;
  background: #51608E;
  color: #e8e8e8;
  font-size: 16px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #51608E;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  color: #e8e8e8;
}

textarea:focus {
  outline: none;
}

/* notification */

.notification-name {
  margin-left: 2em;
}

.notification-remark {
  margin-left: 2.5em;
}

.notification-time {
  text-align: right;
  font-size: small;
}

.mypage-news h5 {

  a {
    color: #58483A;

    &:hover {
      color: #708167;
    }
  }
}
