<% provide(:title, 'Chat members') %>
<h1>Chat members</h1>
<div class="container">
  <div class="matching-index-page">
    <%#= render "partial/navbar" %>
    <div class="matching">
      <h4 class="matching-num">チャットできるメンバー <%= @consults_users.size %>人</h4>
      <div class="matching__list">
        <% unless @consults_users.empty? %>
          <% @consults_users.each do |user| %>
            <%= link_to consults_path(params: { user_id: user.id }), method: :post do %>
              <%#= link_to consults_path(user_id: @lend_farmland.user), method: :post do %>
                <div class="matching__person">
                  <%= render partial: 'users/user', locals: { user: user } %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
