<% provide(:title, 'Consults chat room') %>
<h1>Consults chat room</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 py-3 chat-room-bc">
      <%#= link_to "退出する", chat_room_path(@chat_room), method: :delete, class: "btn btn-outline-secondary", data: { confirm: 'このトークルームから退出します。本当によろしいですか？'}  %>
      <div class="chat-room-show-page">
        <div class="chat-room__partner">
          <span class="chat-room__partner-name">
            <%= @chat_room_user.name %>
          </span>
          <div id='chat-messages'>
            <%= render @chat_messages %>
          </div>
          <form>
            <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="chat-room__message-form_textarea"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
