<footer class="footer navbar navbar-fixed-bottom navbar-transparent">
  <div class="container">
    <small>
      © 8gatake farm 2021
    </small>
    <nav>
      <ul>
        <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
        <li><%= link_to "利用規約", terms_of_service_path %></li>
      </ul>
    </nav>
  </div>
</footer>
