<footer class="footer">
  <small>
    © 8gatake farm 2021
  </small>
  <nav>
    <ul>
      <li><%= link_to "プライバシーポリシー",   '#' %></li>
      <li><%= link_to "利用規約", '#' %></li>
    </ul>
  </nav>
</footer>
