<footer class="navbar navbar-expand-sm">
  <div class="container">
    <small>
      © 8gatake farm 2021
    </small>
    <nav>
      <ul>
        <li class="nav-link"><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
        <li class="nav-link"><%= link_to "利用規約", terms_of_service_path %></li>
      </ul>
    </nav>
  </div>
</footer>
